<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terminos</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link rel="SHORTCUT ICON" href="diseno/favicon.ico">-->
</head>

<body ng-app="MyApp">
    <div ng-controller="AppCtrl as Ctrl" layout="column" style="height:100%;" md-theme="{{dynamicTheme}}" md-theme-watch ng-cloak>

        <md-toolbar layout="row" id="f_m">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleLeft()" class="md-icon-button" hide-gt-md>
                    <md-icon>
                        <i class="material-icons i_fs">&#xE5D2;</i>
                    </md-icon>
                    <md-tooltip md-direction="bottom">Menu</md-tooltip>
                </md-button>

                <span class="md-flex" hide show-gt-md>
                    <img src="diseno/console-line.png" class="md-avatar" />
                </span>

                <md-divider></md-divider>

                <div flex>
                    <center>
                        <div ng-show='stateIsLoading'>
                            <md-progress-circular class="md-accent" md-diameter="30"></md-progress-circular>
                        </div>
                    </center>
                </div>

                <md-divider></md-divider>

            </div>


            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()">
                <md-icon>
                    <i class="material-icons i_fs">&#xE5C3;</i>
                </md-icon>
            </md-button>

        </md-toolbar>



        <section layout="row" flex>
            <!--style="background-color: #1c1464; color:#fff; font-family:'Seravek Medium';"-->
            <md-sidenav id="mside" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
                <md-content ng-controller="LeftCtrl">
                    <!--style="background-color: #1c1464; color:#fff;"-->

                    <div layout="column">
                        <md-toolbar class="md-theme-light" hide-gt-md>
                            <div layout="row" layout-align="start center">
                                <h1 class="md-toolbar-tools">Menu</h1>
                                <span flex></span>

                                <md-button ng-click="close()" class="md-icon-button">
                                    <i class="material-icons">clear</i>
                                </md-button>

                            </div>
                        </md-toolbar>

                        <md-list-item href="#/git">
                            <md-icon>
                                <img src="diseno/git.png" />
                            </md-icon>
                            <span flex>GIT</span>
                        </md-list-item>

                        <md-list-item href="#/maven">
                            <md-icon>
                                <img src="diseno/maven.png" />
                            </md-icon>
                            <span flex>MAVEN</span>
                        </md-list-item>

                        <md-list-item href="#/linux">
                            <md-icon>
                                <img src="diseno/linux.png" />
                            </md-icon>
                            <span flex>LINUX</span>
                        </md-list-item>

                    </div>

                </md-content>
            </md-sidenav>

            <md-content flex>

                <div ui-view></div>
            </md-content>



            <!-- menu derecho-->
            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

                <md-content ng-controller="RightCtrl">
                    <!--layout-padding-->
                    <md-toolbar class="md-theme-light">
                        <div layout="row" layout-align="start center">
                            <h1 class="md-toolbar-tools">
                                <i class="material-icons">settings</i>Opciones</h1>
                            <span flex></span>

                            <md-button ng-click="close()" class="md-icon-button">
                                <i class="material-icons">clear</i>
                            </md-button>

                        </div>
                    </md-toolbar>

                </md-content>

                <div layout="row" layout-align="center center">
                    <div>
                        <md-button class="md-fab md-mini md-primary" style="background-color: #3f51b5" ng-click="dynamicTheme = 'ind'">
                            <md-icon>
                                <i class="material-icons">brush</i>
                            </md-icon>
                        </md-button>
                    </div>

                    <div>
                        <md-button class="md-fab md-mini md-primary" style="background-color: #9c27b0" ng-click="dynamicTheme = 'purpura'">
                            <md-icon>
                                <i class="material-icons">brush</i>
                            </md-icon>
                        </md-button>
                    </div>

                    <div>
                        <md-button class="md-fab md-mini md-primary" style="background-color: #607d8b" ng-click="dynamicTheme = 'oscuro'">
                            <md-icon>
                                <i class="material-icons">brush</i>
                            </md-icon>
                        </md-button>
                    </div>


                    <div>
                        <md-button class="md-fab md-mini md-primary" style="background-color: #1c1464" ng-click="dynamicTheme = 'blanco'">
                            <md-icon>
                                <i class="material-icons">brush</i>
                            </md-icon>
                        </md-button>
                    </div>

                    <div>
                        <md-button class="md-fab md-mini md-primary" style="background-color: #4caf50" ng-click="dynamicTheme = 'verde'">
                            <md-icon>
                                <i class="material-icons">brush</i>
                            </md-icon>
                        </md-button>
                    </div>

                </div>
                
            </md-sidenav>
            <!-- f menu derecho-->

        </section>

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <script src="js/angular-ui-router.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- Your application bootstrap  -->

    <script src="js/app.js"></script>
    <script src="js/controllers/terminosController.js"></script>
    <script src="js/controllers/terminosControllerLinux.js"></script>
    <script src="js/controllers/terminosControllerMaven.js"></script>
    <script src="js/services/terminosServices.js"></script>

</body>

</html>