<md-content layout-padding>

    <div layout="row">
        <div flex="50">
            <md-icon>info</md-icon>
            <strong>GIT</strong> / Listar Terminos
        </div>
        <div flex="50" style="text-align: right;">
            <!--<a href="" class='icon_barra'>
                <md-tooltip md-direction="down">Sugerencia</md-tooltip>
                <md-icon>contact_mail</md-icon>
            </a>-->
        </div>

    </div>


    <div>

        <div class="search-wrapper md-whiteframe-1dp layout-align-start-center layout-row flex" layout="row" layout-align="start center"
            flex="" style="background-color: #fff; padding: 5px; border-radius: 4px;">
            <md-icon class="icon s18 md-default-theme md-font material-icons icon-magnify">
                <i class="material-icons">&#xE8B6;</i>
            </md-icon>

            <input type="text" class="inp_buscar" ng-model="buscador" placeholder="Buscar">

        </div>


        <md-list>
            <div ng-show="loading_usuarios">
                <center>
                    <p>Cargando...</p>
                </center>
            </div>

            <md-list-item class="md-2-line animate-repeat" ng-repeat="usuario in usuarios" ng-click="null" id="{{usuario.id_usuario}}">
               

                <div class="md-list-item-text" layout="column">
                    <h3>   <md-icon>
                        <i class="material-icons">&#xE5CC;</i>
                    </md-icon> {{usuario.comando}}
                </h3>
                
                </div>
               
                <md-button class="md-fab md-mini md-primary" ng-click="showPrerenderedDialog(usuario)">
                    <md-icon>
                        <i class="material-icons">search</i>
                    </md-icon>
                </md-button>

                <md-divider></md-divider>


            </md-list-item>

        </md-list>

    </div>
</md-content>